*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mac OSX
.DS_Store

# Custom
*.log
*.e4p
*.spec
*.autosave
db.sqlite3
default.json
docs/_build
_eric6project/
.eric6project/
.vscode
.python-version